.m-cover-event{
    display: none;
}

/* weare info */
.m-weare{
    position: relative;
    padding: 50px 0px;
}
.m-weare-info{
    padding: 0px 15px;
}
.m-weare-info .m-title-block{
    margin-bottom: 25px;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    transition-delay: 0.5s;
}
.m-weare-info .m-title-block::before{
    background-color: #000;
}
.m-weare-info p{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 300;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    transition-delay: 0.6s;
}
.m-weare-info strong{
    font-family: 'Roboto', sans-serif;
}

.m-weare.is-visible{
    .m-weare-info .m-title-block,
    .m-weare-info p{
        opacity: 1;
        transform: translateY(0);
    }
}

/* statistics */

.m-statistics{
    position: relative;
    padding: 50px 0px;
    width: 100%;
}
.m-statistics-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.m-statistics-box{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    &:hover{
        color: $verde_moya;
    }
    &:nth-child(1){
        transition-delay: 0.6s;
    }
    &:nth-child(2){
        transition-delay: 0.7s;
    }
    &:nth-child(3){
        transition-delay: 0.8s;
    }
    &:nth-child(4){
        transition-delay: 0.9s;
    }
    &:nth-child(5){
        transition-delay: 1s;
    }
}
.m-statistics-icon{
    font-size: 30px;
    margin-bottom: 10px;
}
.m-statistics-number{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 28px;
}
.m-statistics-subtitle{
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    min-height: 40px;
}
.m-statistics .m-title-block:before{
    background-color: #000;
}
.m-statistics .m-title-block{
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    transition-delay: 0.5s;
}

.m-statistics.is-visible{
    .m-title-block,
    .m-statistics-box{
        opacity: 1;
        transform: translateY(0);
    }
}

/* banner */
.m-banner{
    position: relative;
    height: 350px;
    overflow: hidden;
}
.m-banner-bg-shape,
.m-banner-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.3);
    transition: transform 1.5s ease, opacity .5s ease;
    transition-delay: .5s;
}
.m-banner-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.m-banner-bg-shape{
    background-color: rgba(0,0,0,0.3);
}
.m-banner-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-banner-content a,
.m-banner-content p{
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1s ease, opacity .3s ease;

}

.m-banner-content a{
    max-width: 300px;
    transition-delay: 1.1s;
}
.m-banner-content p{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition-delay: 1s;
}

//Animations
.m-banner.is-visible .m-banner-bg,
.m-banner.is-visible .m-banner-bg-shape{
    transform: scale(1);
    opacity: 1;
}

.m-banner.is-visible .m-banner-content a,
.m-banner.is-visible .m-banner-content p{
    transform: translateY(0);
    opacity: 1;

}


@media (min-width: 768px){
    /* weare info */
    .m-weare-info{
        padding: 0px 50px;
    }
    .m-weare-info p{
        font-size: 18px;
        line-height: 34px;
        padding-left: 40px;
    }
    /* statistics */
    .m-statistics{
        padding: 50px 0px;
    }
    .m-statistics-box{
        width: 50%;
    }
    .m-statistics-box:nth-child(1){
        align-items: center;
        padding: 0;
    }
    .m-banner{
        margin-bottom: 50px;
    }
    .m-banner-content p{
        max-width: 500px;
    }
}
@media (min-width: 1024px){
    /* weare info */
    .m-weare{
        padding: 100px 0px;
    }
    .m-weare-info{
        margin: 0px 100px;
    }
    /* statistics */
    .m-statistics{
        padding: 100px 0px;
    }
    .m-statistics-box{
        width: 20%;
        height: 300px;
    }
    .m-banner-content p{
        font-size: 24px;
        max-width: 800px;
    }
}