.m-cover-event{
    display: none;
}

/* weare info */
.m-weare{
    position: relative;
    padding: 50px 0px;
}
.m-weare-info{
    padding: 0px 15px;
}
.m-weare-info .m-title-block{
    margin-bottom: 25px;
}
.m-weare-info .m-title-block::before{
    background-color: #000;
}
.m-weare-info p{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
}
.m-weare-info strong{
    font-family: 'Roboto', sans-serif;
}

/* statistics */

.m-statistics{
    position: relative;
    padding: 50px 0px;
    width: 100%;
}
.m-statistics-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.m-statistics-box{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    &:hover{
        color: $verde_moya;
    }
}
.m-statistics-icon{
    font-size: 30px;
    margin-bottom: 10px;
}
.m-statistics-number{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 28px;
}
.m-statistics-subtitle{
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    min-height: 40px;
}
.m-statistics .m-title-block:before{
    background-color: #000;
}


@media (min-width: 768px){
    /* weare info */
    .m-weare-info{
        padding: 0px 50px;
    }
    .m-weare-info p{
        font-size: 18px;
        line-height: 34px;
        padding-left: 40px;
    }
    /* statistics */
    .m-statistics{
        padding: 50px 0px;
    }
    .m-statistics-box{
        width: 50%;
    }
    .m-statistics-box:nth-child(1){
        align-items: center;
        padding: 0;
    }
}
@media (min-width: 1024px){
    /* weare info */
    .m-weare{
        padding: 100px 0px;
    }
    .m-weare-info{
        margin: 0px 100px;
    }
    /* statistics */
    .m-statistics{
        padding: 100px 0px;
    }
    .m-statistics-box{
        width: 20%;
        height: 300px;
    }
    .m-statistics-number{
        // font-size: 70px;
    }
}