.m-announcement{
    padding: 0px 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.5s;
    &.is-visible{
        opacity: 1;
    }
}
.m-announcement .m-title-block:before{
    background-color: #000;
}
.m-announcement-title{
    padding-top: 20px;
}
.m-announcement-title p{
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.m-announcement-form input,
.m-announcement-form textarea{
    font-weight: 300;
    border-radius: 0;
    &:focus{
        box-shadow: none;
        border-color: $verde_moya;
    }
}
.m-announcement-form .m-form-select{
    border: 1px solid #ced4da;
}
.m-announcement-form{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.m-announcement-input-group{
    width: 100%;
}
.m-announcement-subtitle{
    width: 100%;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 50px 0px;
    text-align: center;
    span{
        font-size: 12px;
    }
}
.m-announcement-btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    .m-btn-black{
        font-weight: 500;
    }
}
.help-block.error-help-block{
    color: red;
    font-size: 11px;
    font-weight: 300;
}

//success page
.m-success{
    margin: 40px 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.5s;
    text-align: center;
    &.is-visible{
        opacity: 1;
    }
}
.m-success i{
    font-size: 100px;
    color: $verde_moya;
    padding: 20px 0px;
}
.m-success-title{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.m-success h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.m-success p{
    margin: 0;
    font-size: 14px;
}
.m-success-sede{
    margin-top: 20px;
    font-size: 14px;
}
.m-success-date{
    font-size: 14px;
}

@media (min-width: 768px){
    .m-announcement{
        padding: 0;
    }
    .m-announcement-input-group{
        width: 45%;
    }
    .m-success-title{
        font-size: 28px;
    }
    .m-success p{
        font-size: 16px;
    }
    .m-success-sede,
    .m-success-date{
        font-size: 16px;
    }
}

@media (min-width: 1024px){
}