header{
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

header .m-header-logo a{
    display: block;
    width: 80px;
    text-decoration: none;
}
header .m-header-logo a img{
    min-width: 100%;
    width: 100%;
}

header .m-header-nav{
    display: none;
}

header .m-header-burger{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}
header .m-header-burger span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
}
header .m-header-burger span:nth-child(2){
    width: 50%;
}

header .m-header-nav nav .m-header-nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 20px;
    &:hover{
        color: $verde_moya;
    }
    &:focus{
        outline: none;
    }
}
header .m-header-nav nav .m-header-nav-link:first-child{
    padding-left: 0px;
}
header .m-header-nav nav .m-header-nav-link:last-child{
    padding-right: 0xp;
}

@media (min-width: 768px){
    header{
        border-left: 50px solid #ffffff;
        border-right: 50px solid #ffffff;
    }
    header{
        padding: 0px;
    }
}

@media (min-width: 1024px){
    header .m-header-nav{
        display: block;
    }
    header .m-header-burger{
        display: none;
    }
    header{
        height: 100px;
        border-left: 100px solid #ffffff;
        border-right: 100px solid #ffffff;
    }
}